# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/*

# Output files
*.txt
TravauxDirige_n.2/.vscode/settings.json
TravauxDirige_n.3/.vscode/settings.json
*.tga
*.ppm
Projet/.vscode
Projet/.vscode
